<md-card>
  <md-card-title><h2 class="md-headline">Work Address</h2></md-card-title>
  <md-card-content>
    <!-- Department -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Department - <span class="md-caption">for example, Paediatrics</span></label>
        <input type="text" ng-model="vm.form.hospitalAddress_0" ng-required="true" />
      </md-input-container>
    </div>

    <!-- Address line 1 -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Work location - <span class="md-caption">for example, Block 6, Level 6</span></label>
        <input type="text" ng-model="vm.form.hospitalAddress_1" />
      </md-input-container>
    </div>

    <!-- Address line 2 -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Hospital, State, and Postcode - <span class="md-caption">for example, RBWH QLD 4029</span></label>
        <input type="text" ng-model="vm.form.hospitalAddress_2" />
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
