<md-card>
  <md-card-title><h2 class="md-headline">Overseas Address</h2></md-card-title>
  <md-card-content>
    <!-- Department -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Overseas address line 1</label>
        <input type="text" ng-model="vm.form.icteAddress_0" ng-required="true" />
      </md-input-container>
    </div>

    <!-- Address line 1 -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Overseas address line 2</label>
        <input type="text" ng-model="vm.form.icteAddress_1" />
      </md-input-container>
    </div>

    <!-- Address line 2 -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Overseas address line 3</label>
        <input type="text" ng-model="vm.form.icteAddress_2" />
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
