<md-content layout-padding>
  <h1 class="md-display-1">UQ Library Membership <span class="md-headline">Admin</span></h1>

  <span class="md-error" ng-if="!vm.isAllowed">
    You do not have permission to access this resource.
  </span>

  <section class="search-section" md-whiteframe ng-if="vm.isAllowed">
    <md-content layout="column" layout-gt-sm="row" ng-show="!vm.isSearching">
      <md-input-container flex="auto">
        <label>Name</label>
        <input type="text" ng-model="vm.search.name" />
      </md-input-container>

      <md-input-container flex="auto">
        <label>Account type</label>
        <md-select ng-model="vm.search.type">
          <md-option selected="selected" value="">All</md-option>
          <md-option ng-repeat="i in vm.accountTypes | orderBy:'title'" ng-value="i.value">{{i.title}}</md-option>
        </md-select>
        <div class="md-errors-spacer"></div> <!-- Bit of a Material hack (display only) -->
      </md-input-container>

      <md-autocomplete flex="auto"
                       ng-show="vm.search.type === 'cyberschool'"
                       md-input-name="cybeschool"
                       md-selected-item="vm.search.cyberschoolAddress_0"
                       md-search-text="vm.cyberschoolSearchText"
                       md-items="item in vm.cyberschools"
                       md-item-text="item"
                       md-floating-label="School Name">
        <md-item-template>
          <span md-highlight-text="vm.cyberschoolSearchText">{{item}}</span>
        </md-item-template>
      </md-autocomplete>

      <div flex="1" class="button-container">
        <md-button class="md-accent md-raised search-button" ng-click="vm.doSearch()">
          <md-icon class="search-icon">search</md-icon> Search
        </md-button>
      </div>

      <div flex="none" class="button-container" ng-show="vm.searchResults.length > 0">
        <md-button class="md-secondary md-raised"
                ng-csv="vm.csvData()"
                csv-header="vm.csvHeaders"
                filename="memberships.csv">
          <md-icon>file_download</md-icon> CSV export
        </md-button>
      </div>
    </md-content>

    <md-content class="is-searching" ng-show="vm.isSearching">
      <md-progress-circular md-mode="indeterminate" md-diameter="20"></md-progress-circular>
      <span style="padding-left: 30px" class="md-subhead">Searching..</span>
    </md-content>
  </section>

  <section class="result-section" md-whiteframe>
    <md-content layout-fill>
      <md-tabs md-selected="vm.selectedTabIndex" md-dynamic-height md-swipe-content="true" class="md-accent">
        <md-tab>
          <md-tab-label>
            Search results ({{vm.searchResults.length}})
          </md-tab-label>
          <md-tab-body>
            <p class="body1 no-results" ng-show="!vm.hasSearched">Enter your search terms above to see results.</p>
            <p class="body1 no-results" ng-show="vm.hasSearched && vm.searchResults.length == 0">
              Your search terms did not match any users in the database.
            </p>

            <md-table-container ng-show="vm.searchResults.length > 0">
              <table md-table class="admin-table">
                <thead md-head>
                <tr md-row>
                  <th md-column>Name</th>
                  <th md-column>Type</th>
                  <th md-column hide-sm>Expiry</th>
                  <th md-column hide-sm>Barcode</th>
                  <th md-column hide-sm>Status</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="m in vm.searchResults">
                  <td md-cell class="md-body-1">
                    <div layout="column" layout-gt-xs="row">
                      <div flex>
                        {{ m.title }} {{ m.firstName }} {{ m.sn }}<br />

                        <!-- Conditional data -->
                        <span class="md-body-1" ng-show="m.mail">
                      <a ng-href="mailto:{{m.mail}}?subject=UQ Library Membership Application'">{{m.mail}}</a><br />
                    </span>
                        <span class="md-body-1 text-muted"
                              ng-show="m.dateOfBirth">Birthdate: {{ m.dateOfBirth | date : date : format}}<br/></span>
                        <span class="md-body-1 text-muted" ng-show="m.paymentReceipt.length > 1">Payment receipt: {{m.paymentReceipt}}</span>
                        <span class="md-body-1 text-muted" ng-show="m.alumninewNum">{{m.alumninewNum}}<br /></span>
                        <span class="md-body-1 text-muted" ng-show="m.alumniNum">{{m.alumniNum}}<br /></span>
                        <span class="md-body-1 text-muted" ng-show="m.alumniBarcode">{{m.alumniBarcode}}<br /></span>
                      </div>
                      <div flex="none">
                        <md-button ng-if="!m._deleted" class="md-secondary md-raised mini" ng-click="vm.openMember(m)">View / Edit</md-button>
                      </div>
                    </div>
                  </td>
                  <td md-cell>
                    {{vm.accountTypeByValue(m.type).title}}<br />

                    <!-- Conditional data -->
                    <span class="md-body-1 text-muted"
                           ng-show="m.cyberschoolAddress_0">{{ m.cyberschoolAddress_0 }}
                    </span>
                    <span class="md-body-1 text-muted"
                           ng-show="m.hospitalService">{{ m.hospitalService }}
                    </span>

                    <!-- Attachments -->
                    <div class="membership-attachments" ng-show="m.attachments.length">
                      <span class="md-body-1" ng-repeat="attachment in m.attachments">
                        <a ng-click="vm.openAttachment(attachment)" href="">
                          <md-icon>attachment</md-icon> {{ attachment.name }}
                        </a><br />
                      </span>
                    </div>
                  </td>
                  <td md-cell hide-sm>{{m.expiresOn}}</td>
                  <td md-cell hide-sm>
                    <span ng-show="m.barcode">{{ m.barcode }}</span>
                    <span ng-hide="m.barcode">Not set</span>
                  </td>
                  <td md-cell hide-sm class="capitalize">
                    {{m.status}}<br />
                    <span ng-if="m.status === 'renewing'">
                      <md-button
                          ng-hide="m._confirming || m.confirmStep == 1 || m.confirmStep == 2"
                          ng-click="vm.confirmMember(m)"
                          class="md-primary md-raised mini">Re-confirm</md-button>
                      <md-button
                          ng-hide="m._confirming || m.confirmStep == 1 || m.confirmStep == 2"
                          ng-click="vm.sendRenewalEmail(m)"
                          class="md-accent md-raised mini">Resend email</md-button>
                    </span>
                    <span ng-if="m.status === 'unconfirmed'">
                      <span ng-hide="m._deleted || m._confirming">
                        <md-button
                            class="md-primary md-raised mini"
                            ng-hide="m.confirmStep == 1 || m.confirmStep == 2"
                            ng-click="vm.confirmMember(m)">Accept</md-button>
                        <md-button
                            class="md-secondary md-raised mini"
                            ng-hide="m.confirmStep == 1 || m.confirmStep == 2"
                            ng-click="vm.showDeleteDialog(m)">Delete</md-button>
                      </span>
                      <span ng-show="m._confirming">
                        <md-progress-circular md-mode="indeterminate" md-diameter="18"></md-progress-circular>
                        <span style="padding-left: 30px">Confirming..</span>
                      </span>
                      <span class="md-body-2" ng-show="m._deleted">DELETED</span>

                      <!-- Confirm in progress -->
                      <md-button
                          class="md-secondary md-raised mini"
                          disabled="disabled"
                          ng-show="m.confirmStep == 1 || m.confirmStep == 2">In Progress</md-button>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </md-table-container>
          </md-tab-body>
        </md-tab>
        <md-tab ng-repeat="m in vm.openUsers">
          <md-tab-label>
            {{ m.firstName }} {{ m.sn }}
            <md-icon class="tab-icon" ng-click="vm.removeTab($index)">clear</md-icon>
          </md-tab-label>
          <md-tab-body class="search-member-body">
            <!-- Edit area -->
            <membership-details layout-padding member="m"></membership-details>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
  </section>

</md-content>