<md-content layout-padding
    flex="100" flex-gt-md="80" flex-offset-gt-md="10">
  <h1 class="md-display-1">
    UQ Library Membership
    <span class="md-headline">{{vm.typeObject.title}}</span>
  </h1>

  <!-- Form -->
  <form name="vm.formController">
    <!-- Conditions -->
    <md-card ng-if="vm.typeObject.conditions !== ''">
      <md-card-content>
        <span class="md-headline" ng-bind-html="vm.typeObject.conditions"></span>
      </md-card-content>
    </md-card>

    <!-- Account Information Card -->
    <md-card>
      <md-card-title>
        <h2 class="md-headline">Account Information</h2>
      </md-card-title>
      <md-card-content>
        <div layout="row">
          <!-- Alumni Period -->
          <md-input-container flex="100" flex-gt-sm="20" ng-if="vm.isType('alumni') || vm.isType('alumnifriends')">
            <label>Period</label>
            <md-select ng-model="vm.form.paymentCode" ng-required="true" name="paymentCode">
              <md-option ng-repeat="option in vm.typeObject.paymentOptions" value="{{option.code}}">
                {{option.description}}
              </md-option>
            </md-select>
            <div class="md-errors-spacer"></div> <!-- Bit of a Material hack (display only) -->
          </md-input-container>
        </div>

        <div layout="column" layout-gt-sm="row">
          <!-- Title -->
          <md-input-container flex="100" flex-gt-sm="20">
            <label>Title</label>
            <md-select ng-model="vm.form.title" ng-required="true" name="title">
              <md-option ng-repeat="title in vm.titles" value="{{title}}">{{title}}</md-option>
            </md-select>
          </md-input-container>

          <!-- First Name -->
          <md-input-container flex="100" flex-gt-sm="20">
            <label>First name</label>
            <input ng-model="vm.form.firstName" type="text" ng-required="true" name="firstName" />
          </md-input-container>

          <!-- Surname -->
          <md-input-container flex="100" flex-gt-sm="20">
            <label>Last name</label>
            <input ng-model="vm.form.sn" type="text" ng-required="true" name="sn" />
          </md-input-container>
        </div>

        <div layout="row">
          <!-- DOB -->
          <div layout="column" flex>
            <label class="md-caption">Date of Birth</label>
            <md-datepicker class="layout-row" flex="100" ng-model="vm.form.dateOfBirth" name="dob"></md-datepicker>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <!-- Special Work Address types -->
    <ng-include src="'app/pages/form/partials/hospital-address.html'" ng-if="vm.isType('hospital')"></ng-include>
    <ng-include src="'app/pages/form/partials/associate-address.html'" ng-if="vm.isType('associate')"></ng-include>
    <ng-include src="'app/pages/form/partials/awaitingaurion-address.html'" ng-if="vm.isType('awaitingaurion')"></ng-include>
    <ng-include src="'app/pages/form/partials/visitors-address.html'" ng-if="vm.isType('visitors')"></ng-include>
    <ng-include src="'app/pages/form/partials/icte-address.html'" ng-if="vm.isType('icte')"></ng-include>

    <!-- Contact Information Card -->
    <md-card>
      <md-card-title><h2 class="md-headline">Contact Information</h2></md-card-title>
      <md-card-content>
        <div layout="row">
          <!-- Email -->
          <md-input-container flex="auto">
            <label>Email <span class="md-caption" ng-show="vm.type === 'cyberschool'"> - Your school email address is essential</span></label>
            <input type="email" ng-model="vm.form.mail" ng-required="true" name="email" />
          </md-input-container>

          <!-- Parent email (cyberschools) -->
          <md-input-container flex="auto" ng-if="vm.isType('cyberschool')">
            <label>Parent Email Address</label>
            <input type="email" ng-model="vm.form.cyberschoolParentMail" ng-required="true" name="cyberschoolParentMail" />
          </md-input-container>
        </div>

        <!-- Address line 1 -->
        <div layout="row">
          <md-input-container flex="100">
            <label>Home street address number and name - <span class="md-caption">for example, 123 Library Way</span></label>
            <input type="text" ng-model="vm.form.homeAddress_0" ng-required="true" name="homeAddress_0" />
          </md-input-container>
        </div>

        <!-- Address line 2 -->
        <div layout="row">
          <md-input-container flex="100">
            <label>Suburb - <span class="md-caption">for example, St Lucia</span></label>
            <input type="text" ng-model="vm.form.homeAddress_1" ng-required="true" name="homeAddress_1" />
          </md-input-container>
        </div>

        <div layout="column" layout-gt-xs="row">
          <!-- City -->
          <md-input-container flex="100" flex-gt-xs="33">
            <label>City</label>
            <input type="text" ng-model="vm.form.homeAddress_city" ng-required="true" name="homeAddress_city" />
          </md-input-container>

          <!-- State -->
          <md-input-container flex="100" flex-gt-xs="33">
            <label>State</label>
            <md-select ng-model="vm.form.homeAddress_state" ng-required="!vm.isType('alumni') && !vm.isType('alumninew')" name="homeAddress_state">
              <md-option value="">State</md-option>
              <md-option value="ACT">Australian Capital Territory</md-option>
              <md-option value="NSW">New South Wales</md-option>
              <md-option value="NT">Northern Territory</md-option>
              <md-option value="QLD">Queensland</md-option>
              <md-option value="SA">South Australia</md-option>
              <md-option value="TAS">Tasmania</md-option>
              <md-option value="VIC">Victoria</md-option>
              <md-option value="WA">Western Australia</md-option>
            </md-select>
            <div class="md-errors-spacer"></div> <!-- Bit of a Material hack (display only) -->
          </md-input-container>

          <!-- Postcode -->
          <md-input-container flex="100" flex-gt-xs="33">
            <label>Postcode</label>
            <input type="text"
                   name="homeAddress_postcode"
                   ng-model="vm.form.homeAddress_postcode"
                   ng-required="!vm.isType('alumni') && !vm.isType('alumninew')"
                   ng-pattern="/^[0-9]{4}$/" />
          </md-input-container>
        </div>

        <div layout="column" layout-gt-xs="row">
          <!-- Phone -->
          <md-input-container flex="auto">
            <label>Home, work or mobile phone number</label>
            <input type="text" ng-model="vm.form.phone" ng-required="true" name="phone" />
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>

    <!-- More Information Cards -->
    <ng-include src="'app/pages/form/partials/alumninew-information.html'" ng-if="vm.isType('alumninew')"></ng-include>
    <ng-include src="'app/pages/form/partials/hospital-information.html'" ng-if="vm.isType('hospital')"></ng-include>
    <ng-include src="'app/pages/form/partials/retired-information.html'" ng-if="vm.isType('retired')"></ng-include>
    <ng-include src="'app/pages/form/partials/reciprocal-information.html'" ng-if="vm.isType('reciprocal')"></ng-include>
    <ng-include src="'app/pages/form/partials/proxy-information.html'" ng-if="vm.isType('proxy')"></ng-include>
    <ng-include src="'app/pages/form/partials/icte-information.html'" ng-if="vm.isType('icte')"></ng-include>
    <ng-include src="'app/pages/form/partials/cyberschool-information.html'" ng-if="vm.isType('cyberschool')"></ng-include>

    <!-- Document Upload -->
    <md-card ng-if="vm.typeObject.upload">
      <md-card-title><h2 class="md-headline">Document Upload</h2></md-card-title>
      <md-card-content>
        <p>
          <span ng-bind-html="vm.typeObject.upload"></span>
          <span ng-hide="vm.isType('hospital') || vm.isType('visitors')">If you are unable to upload the documents they will need to be presented in person at one of our
            <a href="https://web.library.uq.edu.au/locations-hours/service-points" target="_blank">service points</a> when you collect your Library card.
            You will be notified by email when your card is ready to collect. </span>
        </p>
        <md-button
                  class="md-raised md-accent"
                  ngf-multiple="true"
                  ngf-select="vm.addFiles($files)"
                  ngf-pattern="'image/*,application/pdf'"
                  ngf-max-size="3MB">Choose files</md-button>
        <span class="md-caption">Please note: Files must end in .png, .jpeg or .pdf, and be less than 3MB in size.</span>

        <md-table-container ng-show="vm.files.length > 0">
          <table md-table>
            <thead md-head>
              <tr md-row>
                <th md-column>Name</th>
                <th md-column>Size</th>
                <th md-column></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="file in vm.files">
                <td md-cell>{{file.name}}</td>
                <td md-cell>{{file.size/1024/1024|number:2}}MB</td>
                <td md-cell>
                  <!-- Not uploaded -->
                  <md-button class="md-accent"
                             ng-show="file.upload.status === '' || file.upload.status === 'error'"
                             aria-label="Remove file"
                             ng-click="vm.removeFile($index)">Remove</md-button>

                  <!-- Upload in progress -->
                  <div layout="row" ng-show="file.upload.status === 'uploading'">
                    <md-progress-circular md-mode="indeterminate" md-diameter="18"></md-progress-circular>
                    <span style="padding-left: 10px">Uploading..</span>
                  </div>

                  <!-- Uploaded -->
                  <span ng-show="file.upload.status === 'uploaded'">
                    <md-icon>done</md-icon> Uploaded
                  </span>

                  <!-- Error -->
                  <span ng-show="file.upload.status === 'error'">
                    <md-icon class="md-warn">error</md-icon> Failed
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-button class="md-raised md-primary"
                   aria-label="Upload files"
                   ng-click="vm.uploadFiles()"
                   ng-show="vm.canUploadFiles()">Upload File(s)</md-button>
      </md-card-content>
    </md-card>

    <!-- T&C -->
    <md-card id="helpContent">
      <md-card-content class="md-body1">
        <p><a href="https://web.library.uq.edu.au/contact-us">Contact us</a> if you do not receive the confirmation
          email or require assistance.</p>

        <p>You may find the Australia Post <a href="http://auspost.com.au/apps/postcode.html">Find a postcode</a> page
          useful.</p>
        <p>Your submission of this form indicates your agreement to abide by:</p>
        <ul>
          <li>
            <a href="https://ppl.app.uq.edu.au/content/7.40-library-code-practice" target="_blank">
              The Library Code of Practice</a>
          </li>
          <li>
            <a href="http://ppl.app.uq.edu.au/content/6.20.01-acceptable-use-uq-ict-resources" target="_blank">
              The Acceptable Use of UQ ICT Resources</a>
          </li>
          <li ng-repeat="item in current.agreement" ng-bind-html="item | unsafe"></li>
        </ul>
        <p><b>Privacy statement:</b> The University of Queensland Library only requests and uses personal information
          for the specific purpose for which it is requested. Your personal information is treated in strict
          compliance with relevant privacy laws. We disclose personal information with your express consent only, or
          where required by law. See our
          <a href="http://ppl.app.uq.edu.au/content/1.60.02-privacy-management">Privacy Management Policy and
            Procedures</a>
          for details.</p>

        <!-- Submit -->
        <md-button class="md-accent md-raised" ng-click="vm.submit()" id="submitMembership">{{vm.submitLabel()}}</md-button>
        <span class="md-error" ng-show="vm.formController.$invalid">Some fields are either missing or invalid. Please review the fields highlighted in red above.</span>
      </md-card-content>
    </md-card>
  </form>
</md-content>