<md-card>
  <md-card-title><h2 class="md-headline">Work / Departmental Address</h2></md-card-title>
  <md-card-content>
    <!-- Department -->
    <div layout="row">
      <md-input-container flex="100">
        <label>School, Faculty, Centre, other - <span class="md-caption">for example, JKTech pty ltd</span></label>
        <input type="text" ng-model="vm.form.associateAddress_0" ng-required="true" name="associateAddress_0" />
      </md-input-container>
    </div>

    <!-- Address line 1 -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Street number and street name - <span class="md-caption">for example, 40 Isles Road</span></label>
        <input type="text" ng-model="vm.form.associateAddress_1" name="associateAddress_1" />
      </md-input-container>
    </div>

    <!-- Address line 2 -->
    <div layout="row">
      <md-input-container flex="100">
        <label>Suburb, State, and Postcode - <span class="md-caption">for example, Brisbane, QLD, 4000</span></label>
        <input type="text" ng-model="vm.form.associateAddress_2" name="associateAddress_2" />
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
