@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

h2 {
  color: #478500;
  margin: 10px 0 5px 0;
}

a {
  color: #4285f4;
  text-decoration: none;
}

/* Datepicker hack */
.md-datepicker-button {
  height: 30px !important;
}

.md-error {
  color: #FF3A11;
}

.app-container {
  min-height: calc(100% - 488px);
}

.capitalize {
  text-transform: capitalize;
}

@import 'app/components/main/main';
@import 'app/components/form/form';
@import 'app/components/admin/admin';
@import 'app/components/adminSettings/adminSettings';