membership-form {

  .md-datepicker-input-container {
    width: 100%;

    .md-datepicker-input {
      width: 100%;
      padding-top: 10px;
    }
  }

  md-input-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}